.comicstore-grid {
  max-width: 1000px;
  min-height: 75vh;
}

.comicstore-grid-empty {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40vh;
  text-align: center;
  font-size: 18px;
  color: rgba(0,0,0,0.54);
  padding: 200px 0;
}

@media (max-width: 839px) and (min-width: 480px) {
  .comicstore-grid {
    max-width: 700px;
  }
}